fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
psutil
pytest
bcrypt==4.0.1
pydantic
httptools
mysql-connector-python
requests
beautifulsoup4
google-generativeai
google-search-results
nltk
wikipedia
docker